@import "./scss/base";
@import "./scss/typography";
@import "./scss/variables";
@import "./scss/mixins";

//Components
@import "./scss/components/icon";
@import "./scss/components/label";
@import "./scss/components/type";
@import "./scss/components/button";
@import "./scss/components/input";

body {
    margin: 0;
    overflow: hidden;
    user-select: none;
}

// Toolbar
.toolbar {
    height: 40px;
    padding: 4px 8px;
    display: flex;
    flex-shrink: 0;
    .select-menu {
        flex: auto;
        width: auto;
    }
}

.icon {
    &--add {
        background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMzJweCIgaGVpZ2h0PSIzMnB4IiB2aWV3Qm94PSIwIDAgMzIgMzIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDU4ICg4NDY2MykgLSBodHRwczovL3NrZXRjaC5jb20gLS0+CiAgICA8dGl0bGU+UmVjdGFuZ2xlQDJ4PC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZmlsbC1vcGFjaXR5PSIwLjgiPgogICAgICAgIDxnIGZpbGw9IiMwMDAwMDAiPgogICAgICAgICAgICA8cG9seWdvbiBwb2ludHM9IjE1IDE1IDE1IDEwIDE2IDEwIDE2IDE1IDIxIDE1IDIxIDE2IDE2IDE2IDE2IDIxIDE1IDIxIDE1IDE2IDEwIDE2IDEwIDE1Ij48L3BvbHlnb24+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=");
        &:hover {
            background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMzJweCIgaGVpZ2h0PSIzMnB4IiB2aWV3Qm94PSIwIDAgMzIgMzIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDU4ICg4NDY2MykgLSBodHRwczovL3NrZXRjaC5jb20gLS0+CiAgICA8dGl0bGU+UmVjdGFuZ2xlQDJ4PC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgZmlsbD0iIzE4QTBGQiI+CiAgICAgICAgICAgIDxwb2x5Z29uIHBvaW50cz0iMTUgMTUgMTUgMTAgMTYgMTAgMTYgMTUgMjEgMTUgMjEgMTYgMTYgMTYgMTYgMjEgMTUgMjEgMTUgMTYgMTAgMTYgMTAgMTUiPjwvcG9seWdvbj4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==");
        }
    }
    &--import {
        background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMzJweCIgaGVpZ2h0PSIzMnB4IiB2aWV3Qm94PSIwIDAgMzIgMzIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDU4ICg4NDY2MykgLSBodHRwczovL3NrZXRjaC5jb20gLS0+CiAgICA8dGl0bGU+UmVjdGFuZ2xlQDJ4PC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgZmlsbD0iIzAwMDAwMCI+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0xNSwxOC4yOTI5IEwxNSw5IEwxNiw5IEwxNiwxOC4yOTI5IEwxOC42NDY0LDE1LjY0NjQgTDE5LjM1MzYsMTYuMzUzNiBMMTUuNSwyMC4yMDcxIEwxMS42NDY0LDE2LjM1MzYgTDEyLjM1MzYsMTUuNjQ2NCBMMTUsMTguMjkyOSBaIE05LDE5IEwxMCwxOSBMMTAsMjIgTDIxLDIyIEwyMSwxOSBMMjIsMTkgTDIyLDIzIEw5LDIzIEw5LDE5IFoiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==");
        &:hover {
            background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMzJweCIgaGVpZ2h0PSIzMnB4IiB2aWV3Qm94PSIwIDAgMzIgMzIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDU4ICg4NDY2MykgLSBodHRwczovL3NrZXRjaC5jb20gLS0+CiAgICA8dGl0bGU+UmVjdGFuZ2xlQDJ4PC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgZmlsbD0iIzE4QTBGQiI+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0xNSwxOC4yOTI5IEwxNSw5IEwxNiw5IEwxNiwxOC4yOTI5IEwxOC42NDY0LDE1LjY0NjQgTDE5LjM1MzYsMTYuMzUzNiBMMTUuNSwyMC4yMDcxIEwxMS42NDY0LDE2LjM1MzYgTDEyLjM1MzYsMTUuNjQ2NCBMMTUsMTguMjkyOSBaIE05LDE5IEwxMCwxOSBMMTAsMjIgTDIxLDIyIEwyMSwxOSBMMjIsMTkgTDIyLDIzIEw5LDIzIEw5LDE5IFoiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==");
        }
    }
    &--export {
        background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMzJweCIgaGVpZ2h0PSIzMnB4IiB2aWV3Qm94PSIwIDAgMzIgMzIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDU4ICg4NDY2MykgLSBodHRwczovL3NrZXRjaC5jb20gLS0+CiAgICA8dGl0bGU+UmVjdGFuZ2xlQDJ4PC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgZmlsbD0iIzAwMDAwMCIgZmlsbC1ydWxlPSJub256ZXJvIj4KICAgICAgICAgICAgPHBhdGggZD0iTTEwLDE5IEwxMCwyMiBMMjEsMjIgTDIxLDE5IEwyMiwxOSBMMjIsMjMgTDksMjMgTDksMTkgTDEwLDE5IFogTTE1LjUsOSBMMTkuMzUzNSwxMi44NTM2IEwxOC42NDY0LDEzLjU2MDcgTDE2LDEwLjkxNDIgTDE2LDIwLjIwNzEgTDE1LDIwLjIwNzEgTDE1LDEwLjkxNDIgTDEyLjM1MzUsMTMuNTYwNyBMMTEuNjQ2NCwxMi44NTM2IEwxNS41LDkgWiI+PC9wYXRoPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+");
        &:hover {
            background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMzJweCIgaGVpZ2h0PSIzMnB4IiB2aWV3Qm94PSIwIDAgMzIgMzIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDU4ICg4NDY2MykgLSBodHRwczovL3NrZXRjaC5jb20gLS0+CiAgICA8dGl0bGU+UmVjdGFuZ2xlQDJ4PC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgZmlsbD0iIzE4QTBGQiIgZmlsbC1ydWxlPSJub256ZXJvIj4KICAgICAgICAgICAgPHBhdGggZD0iTTEwLDE5IEwxMCwyMiBMMjEsMjIgTDIxLDE5IEwyMiwxOSBMMjIsMjMgTDksMjMgTDksMTkgTDEwLDE5IFogTTE1LjUsOSBMMTkuMzUzNSwxMi44NTM2IEwxOC42NDY0LDEzLjU2MDcgTDE2LDEwLjkxNDIgTDE2LDIwLjIwNzEgTDE1LDIwLjIwNzEgTDE1LDEwLjkxNDIgTDEyLjM1MzUsMTMuNTYwNyBMMTEuNjQ2NCwxMi44NTM2IEwxNS41LDkgWiI+PC9wYXRoPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+");
        }
    }
    &--remove {
        background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMzJweCIgaGVpZ2h0PSIzMnB4IiB2aWV3Qm94PSIwIDAgMzIgMzIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDU4ICg4NDY2MykgLSBodHRwczovL3NrZXRjaC5jb20gLS0+CiAgICA8dGl0bGU+UmVjdGFuZ2xlQDJ4PC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZmlsbC1vcGFjaXR5PSIwLjgiPgogICAgICAgIDxnIGZpbGw9IiMwMDAwMDAiPgogICAgICAgICAgICA8cG9seWdvbiBwb2ludHM9IjIxIDE2IDEwIDE2IDEwIDE1IDIxIDE1Ij48L3BvbHlnb24+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=");
        &:hover {
            background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMzJweCIgaGVpZ2h0PSIzMnB4IiB2aWV3Qm94PSIwIDAgMzIgMzIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDU4ICg4NDY2MykgLSBodHRwczovL3NrZXRjaC5jb20gLS0+CiAgICA8dGl0bGU+UmVjdGFuZ2xlQDJ4PC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgZmlsbD0iIzE4QTBGQiI+CiAgICAgICAgICAgIDxwb2x5Z29uIHBvaW50cz0iMjEgMTYgMTAgMTYgMTAgMTUgMjEgMTUiPjwvcG9seWdvbj4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==");
        }
    }
    &--edit {
        background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMzJweCIgaGVpZ2h0PSIzMnB4IiB2aWV3Qm94PSIwIDAgMzIgMzIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDU4ICg4NDY2MykgLSBodHRwczovL3NrZXRjaC5jb20gLS0+CiAgICA8dGl0bGU+UmVjdGFuZ2xlQDJ4PC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZmlsbC1vcGFjaXR5PSIwLjgiPgogICAgICAgIDxnIGZpbGw9IiMwMDAwMDAiPgogICAgICAgICAgICA8cG9seWdvbiBwb2ludHM9IjE4LjI5MjkgMTYgMTMuNjQ2NSAxMS4zNTM2IDE0LjM1MzYgMTAuNjQ2NSAxOS4zNTM2IDE1LjY0NjUgMTkuNzA3MSAxNiAxOS4zNTM2IDE2LjM1MzYgMTQuMzUzNiAyMS4zNTM2IDEzLjY0NjUgMjAuNjQ2NSI+PC9wb2x5Z29uPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+");
        &:hover {
            background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMzJweCIgaGVpZ2h0PSIzMnB4IiB2aWV3Qm94PSIwIDAgMzIgMzIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDU4ICg4NDY2MykgLSBodHRwczovL3NrZXRjaC5jb20gLS0+CiAgICA8dGl0bGU+UmVjdGFuZ2xlQDJ4PC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgZmlsbD0iIzE4QTBGQiI+CiAgICAgICAgICAgIDxwb2x5Z29uIHBvaW50cz0iMTguMjkyOSAxNiAxMy42NDY1IDExLjM1MzYgMTQuMzUzNiAxMC42NDY1IDE5LjM1MzYgMTUuNjQ2NSAxOS43MDcxIDE2IDE5LjM1MzYgMTYuMzUzNiAxNC4zNTM2IDIxLjM1MzYgMTMuNjQ2NSAyMC42NDY1Ij48L3BvbHlnb24+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=");
        }
    }
}

// Rules
#list {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#rules {
    overflow: auto;
}
.rule {
    display: flex;
    padding-left: 16px;
    padding-right: 8px;
    flex-grow: inherit;
    height: 48px;
    align-items: center;
    &:hover {
        background: $figma-selection-a;
    }
    .rule__preview {
        flex: auto;
        font-size: $font-size-xlarge;
        user-select: none;
        cursor: default;
        display: flex;
        flex-direction: column;
        width: 210px;
    }
    .rule__desc {
        @include font-ui-pos('small', 'normal');
        font-size: 10px;
        color: rgba(0, 0, 0, 0.5);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.empty {
    margin-top: 4em;
    padding: 16px;
    line-height: 2em;
    text-align: center;
}

// Form
.form {
    height: 100%;
    display: flex;
    flex-direction: column;
    .form__body {
        flex: auto;
        padding: 8px;
        .form__row {
            height: 32px;
            display: flex;
            .select-menu {
                flex: 0 0 60%;
                & + .select-menu {
                    flex: 0 0 40%;
                }
            }
        }
    }
    .form__foot {
        padding: 8px;
        display: flex;
        flex-direction: row-reverse;
        .button + .button {
            margin-right: 8px;
        }
    }
}

#list, #form {
    position: absolute;
    left: 0;
    width: 100%;
    transition: all 0.2s ease-out;
}
#form {
    left: 100%;
}

.select-menu {
    width: 100%;
    -webkit-appearance: none;
    height: 32px;
    padding: 8px;
    cursor: default;
    color: $figma-black-8;
    border: 1px solid transparent;
    border-radius: $border-radius-small;
    background-color: $figma-white;
    @include font-ui-pos("small", "normal");
    background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='30' width='30'%3E%3Cpath d='m15 16.7071-3-3 0.7071-.7071 2.6465 2.6464 2.6464-2.6464.7071.7071-3 3-.3535.3536z' fill-opacity='.5'/%3E%3C/svg%3E");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    &:hover {
        border: 1px solid $figma-black-1;
    }
    &:focus, &:active {
        padding: 7px;
        border: 2px solid $figma-blue;
        outline: none;
        background-position: calc(100% + 1px) 50%;
    }
}

.toast {
    @include font-ui-pos("small", "normal");
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
    padding: 8px 16px;
    border: 1px solid $figma-black-1;
    border-radius: $border-radius-med;
    background-color: $figma-hud;
    box-shadow: $shadow-hud;
    color: $figma-white;
    transition: all 0.2s ease-out;
    &--error {
        border: 1px solid $figma-red;
        background-color: $figma-red;
    }
}
