@import "./scss/base";
@import "./scss/typography";
@import "./scss/variables";
@import "./scss/mixins";

//Components
@import "./scss/components/icon";
@import "./scss/components/label";
@import "./scss/components/type";
@import "./scss/components/button";
@import "./scss/components/input";

body {
    margin: 0;
    overflow: hidden;
    user-select: none;
}

// Toolbar
.toolbar {
    height: 40px;
    padding: 4px 8px;
    display: flex;
    .select-menu {
        flex: auto;
        width: auto;
    }
}

.icon {
    &--add {
        background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M15 15v-5h1v5h5v1h-5v5h-1v-5h-5v-1h5z' fill-opacity='.8'/%3E%3C/svg%3E");
        &:hover {
            background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M15 15v-5h1v5h5v1h-5v5h-1v-5h-5v-1h5z' fill='#18A0FB'/%3E%3C/svg%3E");
        }
    }
    &--import {
        background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M15 18.293V9h1v9.293l2.646-2.647.708.708-3.854 3.853-3.854-3.853.708-.708L15 18.293zM9 19h1v3h11v-3h1v4H9v-4z' fill-opacity='.8'/%3E%3C/svg%3E");
        &:hover {
            background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M15 18.293V9h1v9.293l2.646-2.647.708.708-3.854 3.853-3.854-3.853.708-.708L15 18.293zM9 19h1v3h11v-3h1v4H9v-4z' fill='#18A0FB'/%3E%3C/svg%3E");
        }
    }
    &--export {
        background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M15 20.207v-9.293l-2.646 2.647-.708-.707L15.5 9l3.854 3.854-.708.707L16 10.914v9.293h-1zM9 19h1v3h11v-3h1v4H9v-4z' fill-opacity='.8'/%3E%3C/svg%3E");
        &:hover {
            background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M15 20.207v-9.293l-2.646 2.647-.708-.707L15.5 9l3.854 3.854-.708.707L16 10.914v9.293h-1zM9 19h1v3h11v-3h1v4H9v-4z' fill='#18A0FB'/%3E%3C/svg%3E");
        }
    }
    &--remove {
        background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M21 16H10v-1h11v1z' fill-opacity='.8'/%3E%3C/svg%3E");
        &:hover {
            background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M21 16H10v-1h11v1z' fill='#18A0FB'/%3E%3C/svg%3E");
        }
    }
    &--edit {
        background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M18.2929 16L13.6465 11.3536L14.3536 10.6464L19.3536 15.6464L19.7071 16L19.3536 16.3536L14.3536 21.3536L13.6465 20.6464L18.2929 16Z' fill-opacity='.8'/%3E%3C/svg%3E");
        &:hover {
            background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M18.2929 16L13.6465 11.3536L14.3536 10.6464L19.3536 15.6464L19.7071 16L19.3536 16.3536L14.3536 21.3536L13.6465 20.6464L18.2929 16Z' fill='#18A0FB'/%3E%3C/svg%3E");
        }
    }
}

// Rules
#list {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#rules {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
}
.rule {
    display: flex;
    padding-left: 16px;
    padding-right: 8px;
    flex-grow: inherit;
    height: 48px;
    align-items: center;
    &:hover {
        background: $figma-selection-a;
    }
    .rule__preview {
        flex: auto;
        font-size: $font-size-xlarge;
        user-select: none;
        cursor: default;
        display: flex;
        flex-direction: column;
        width: 210px;
    }
    .rule__desc {
        @include font-ui-pos('small', 'normal');
        font-size: 10px;
        color: rgba(0, 0, 0, 0.5);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.empty {
    padding: 16px;
    line-height: 2em;
    text-align: center;
    align-self: center;
    flex-grow: inherit;
}

// Form
.form {
    height: 100%;
    display: flex;
    flex-direction: column;
    .form__body {
        flex: auto;
        padding: 8px;
        .form__row {
            height: 32px;
            display: flex;
            .select-menu {
                flex: 0 0 60%;
                & + .select-menu {
                    flex: 0 0 40%;
                }
            }
        }
    }
    .form__foot {
        padding: 8px;
        display: flex;
        flex-direction: row-reverse;
        .button + .button {
            margin-right: 8px;
        }
    }
}

#list, #form {
    position: absolute;
    left: 0;
    width: 100%;
    transition: all 0.2s ease-out;
}
#form {
    left: 100%;
}

.select-menu {
    width: 100%;
    -webkit-appearance: none;
    height: 32px;
    padding: 8px;
    cursor: default;
    color: $figma-black-8;
    border: 1px solid transparent;
    border-radius: $border-radius-small;
    background-color: $figma-white;
    @include font-ui-pos("small", "normal");
    background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='30' width='30'%3E%3Cpath d='m15 16.7071-3-3 0.7071-.7071 2.6465 2.6464 2.6464-2.6464.7071.7071-3 3-.3535.3536z' fill-opacity='.5'/%3E%3C/svg%3E");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    &:hover {
        border: 1px solid $figma-black-1;
    }
    &:focus, &:active {
        padding: 7px;
        border: 2px solid $figma-blue;
        outline: none;
        background-position: calc(100% + 1px) 50%;
    }
}

.toast {
    @include font-ui-pos("small", "normal");
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
    padding: 8px 16px;
    border: 1px solid $figma-black-1;
    border-radius: $border-radius-med;
    background-color: $figma-hud;
    box-shadow: $shadow-hud;
    color: $figma-white;
    transition: all 0.2s ease-out;
    &--error {
        border: 1px solid $figma-red;
        background-color: $figma-red;
    }
}
